@model IEnumerable<Library.Models.Books>

@{
    ViewData["Title"] = "Book List";
}

<h1>Books List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Register)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastCheckedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastCheckedPerson)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Register)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastCheckedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastCheckedPerson)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ISBN">History</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
